/* tablet */
@media only screen and (min-width: 500px){
    header{
        height: 120px;
        flex-direction: row !important;
        align-items: center !important;
    }

    header .top{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        height: 100% !important;
    }
    header .top h1 {
        margin: 0 !important;
    }
    header .top .hamburger-menu {
        display: none;
    }
    header .top ul {
        display: flex !important;
        margin-left: auto;
        gap: 2rem;
        color: white;
    }
    .top ul li {
        cursor: pointer;
    }
    header .bottom {
        display: none !important;
    }

    .container {
        width: 90% !important;
    }

    
} 

/* laptop */
@media only screen and (min-width: 770px){
    .benefits-section .food-list {
        justify-content: space-between;
    }
    .benefits-section .cta-list {
        display: flex !important;
        flex-direction: column !important;
        height: 100%;
        justify-content: space-between !important;
    }
    .benefits-section .cta-list img {
        content: url("../public/images/tabletCta.png") !important;
    }
    .benefits-section {
        height: 90vh !important;
    }
}

/* desktop */
@media only screen and (min-width: 1025px){
    
    .benefits-section .food-list .food img {
        width: 180px;
        height: 98px;
        object-fit: contain;
    }
    .benefits-section .cta-list img {
        content: url("../public/images/desktopCta.png") !important;
    }
    .healthy-container {
        overflow: none !important;
    }
}