/* tablet */
@media only screen and (min-width: 500px){
    header{
        height: 120px;
        flex-direction: row !important;
        align-items: center !important;
    }

    header .top{
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        height: 100% !important;
    }
    header .top h1 {
        margin: 0 !important;
    }
    header .top .hamburger-menu {
        display: none;
    }
    header .top ul {
        display: flex !important;
        margin-left: auto;
        gap: 2rem;
        color: white;
    }
    .top ul li {
        cursor: pointer;
    }
    header .bottom {
        display: none !important;
    }
} 

/* laptop */
@media only screen and (min-width: 770px){}

/* desktop */
@media only screen and (min-width: 1025px){}