/* start import */
@import "components.css";
@import "globals.css";
@import "media-query.css";
/* end import */

/* start header */
header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #F6B100;
}
header .top, header .bottom{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
}

.top i {
    font-size: 32px;
}
.top h1{
    font-size: 32px;
    margin: auto;
}
.top h1 span {
    font-weight: 500;
}
.top ul {
    display: none;
}
/* end header */

/* start container items */
.container {
    margin-top: 1rem;
}
.container h3 {
    font-size: 24px;
    font-weight: 700;
}
.container .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.container .features p {
    color: #F6B100;
    font-size: 18px;
    font-weight: 600;
}
.container .features a {
    color: #9F9F9F;
    font-size: 14px;
}
/* end container items */