/* start import */
@import "components.css";
@import "globals.css";
@import "media-query.css";
/* end import */

/* start header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #f6b100;
}
header .top,
header .bottom {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.top i {
  font-size: 32px;
}
.top h1 {
  font-size: 32px;
  margin: auto;
}
.top h1 span {
  font-weight: 500;
}
.top ul {
  display: none;
}
/* end header */

/* start container items */
.container {
  margin-top: 1rem;
}
.container h3 {
  font-size: 24px;
  font-weight: 700;
}
.container .heading-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.container h5 {
  color: #f6b100;
  font-size: 18px;
  font-weight: 600;
}
.container .heading-section a {
  color: #9f9f9f;
  font-size: 14px;
}
/* end container items */

/* start mobileImageCta*/
.mobileCtaImage {
  width: 100%;
}
.weekly-pick {
  width: 100%;
  height: 324px;
  background-image: url("../public/images/weekly-pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 22px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.weekly-pick .top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.weekly-pick .top-row #like {
  width: 36px;
  height: 31px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 50%);
  backdrop-filter: blur(20);
  color: white;
}
.weekly-pick .top-row #start-cook {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: #f6b100;
  color: white;
}

.weekly-pick .bottom-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.weekly-pick .bottom-row .title {
    font-size: 28px;
    font-weight: 700;
}
.weekly-pick .bottom-row .caption {
    font-size: 16px;
    font-weight: 400;
}
/* end mobileImageCta*/

/* start benefits section */
.benefits-section {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}
.benefits-section .food-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.food-list .food {
  width: 100%;
  height: 88px;
  padding: 8px;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 15px;
}
.food .detail p {
  font-size: 18px;
  font-weight: bold;
}
.food .detail span {
  font-size: 14px;
  font-weight: 500;
  color: #f6b100;
}

.benefits-section .cta-list {
  display: none;
}
/* end benefits section */


/* start comments */
.comments-section{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.comment-block{
  width: 100%;
  height: 161px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.comment-block .comment-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  margin-right: 2rem;
  color: #9F9F9F;
}
.comment-block .comment-author{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.comment-author .profile-box {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}
.comment-author p {
  font-size: 20px;
  font-weight: 600;
}
.comment-block .comment-content {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}
.comment-block .comment-detail{
width: 100%;
display: flex;
gap: 10px;
}
.comment-detail p {
  font-size: 15px;
  color: #9F9F9F;
  font-weight: 500;
}
.comment-detail i {
  color: #FF0B0B;
  font-size: 17px;
}
/* end comments */